:root {
  --dark: #555B6E;
  --night: #3d5c39;
  --dusk: #5a8853;
  --afternoon: #5ba050;
  --light: #edffea;
  --offwhite: #f3f2f2;
  --accent: #FFD6BA;
  --lightergrey: #6c6c6c;
  --darkergrey: #2C3038;
}