.blob-background:before {
  width: 100%;
  height: 100%;
  content: "";
  clip-path: circle(70% at 85% 70%);
  background: var(--dusk);
  background: linear-gradient(118deg, var(--dusk) 0%, var(--night) 100%);
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.blob-background {
  position: relative;
}